<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
    <meta name="viewport" content="width=1000, initial-scale=0.8">
    <link rel="stylesheet" href="{{ '/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!-- <link rel="stylesheet" href="{{ '/css/style.css?v=' | append: site.github.build_revision | relative_url }}"> -->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div id="logo"><script>
          const truchet = (x,y,o,s) => `M${x},${y+s} c${s-1},0,${s},${o},${s},${s*o} m${s},${-s*o} c${1-s},0,${-s},${-o},${-s},${-s*o}`;
          document.write(`<p><a href="{{ '/' | relative_url }}">${[...'genuary'].map(c=>Math.random()<.5?c:c.toUpperCase()).join('')}<b>2021</b></a></p><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 40"><path d="${Array(160).fill().map((v,i) => truchet(8*(i&31),8*(i>>5),Math.random()<.5?-1:1,4)).join(' ')}" fill="none" stroke="#fff" stroke-width="0.5" /><path d="${Array(160).fill().map((v,i) => truchet(12*(i&31),12*(i>>5),Math.random()<.5?-1:1,6)).join(' ')}" fill="none" stroke="#fff" stroke-width="1" /></svg>`);
          </script></div>
      </header>
           
      <section>

      {{ content }}

      </section>

      <footer><p>Privacy Agreement: We agree with your privacy. Also, no cookies.</p></footer>
    </div>
  </body>
</html>
