<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Genuary is a month of creative coding. 31 prompts for 31 days of making beautiful PROGRAMS/ALGORITHMS/MACHINES/AUTOMATONS.">
    <meta property="og:description" content="Genuary is a month of creative coding. 31 prompts for 31 days of making beautiful PROGRAMS/ALGORITHMS/MACHINES/AUTOMATONS.">
    <meta name="keywords" content="generative,generative art,genuary,genuary 2021,creative coding,code,programming">
    <meta property="og:title" content="{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}">
    <meta name="theme-color" content="#003344">
    <link rel="stylesheet" href="{{ '/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div id="logo"><script>
          const truchet = (x,y,o,s,r=1.5) => `M${x},${y+s} c${s-r},0,${s},${o*r},${s},${s*o} m${s},${-s*o} c${r-s},0,${-s},${-r*o},${-s},${-s*o}`;
          const genuary = [...'genuary'].map(c=>Math.random()<.5?c:c.toUpperCase()).join('');
          document.write(`<a href="{{ '/' | relative_url }}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 40" style="font-size: 1.25em; font-weight: bold"><path d="${Array(160).fill().map((v,i) => truchet(12*(i&31),12*(i>>5),Math.random()<.5?-1:1,6)).join(' ')}" fill="none" stroke="#fff" stroke-width="1" /><text text-anchor="middle" x="128" y="30" fill="#none" stroke="#fff" stroke-width="2">GENUARY2021</text><text text-anchor="middle" x="128" y="30" fill="#023">GENUARY2021</text><path d="${Array(160).fill().map((v,i) => truchet(8*(i&31),8*(i>>5),Math.random()<.5?-1:1,4)).join(' ')}" fill="none" stroke="#fff" stroke-width="0.25" /></svg></a>`);
          </script></div>
      </header>
           
      <section>

      {{ content }}

      </section>

      <footer><p>Privacy Agreement: We agree with your privacy. Also, no cookies.</p></footer>
    </div>
  </body>
</html>
